{% extends '::base.html.twig' %}
{% block stylesheets %}<link href="{{ asset('bundles/Foratest/css/style.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
{% block title %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}<div id="footer"><hr><div class="bottom">ForaTest Service<br>lagunemine@gmail.com</div></div>{% endblock %}
{% block javascripts %}{% endblock %}